<div class="modal fade" id="itemScan" tabindex="-1" role="dialog" aria-labelledby="itemScanLabel" aria-hidden="flase"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemScanlLabel">Item information</h5>
        <button type="button" class="close" (click)="closed()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="isScan ==0 " class="container">
          <form #itemForm="ngForm">
            <div class="form-row" style="padding-bottom:10px">
              <div class="col-4">
                <span>Product Ref</span>
                <!-- <input type="text" class="form-control" name="product" readonly *ngIf="reference.length == 5" (change)="searchProduct($event.target.value)"
                  [(ngModel)]="item.reference"> -->
                <input type="text" class="form-control" readonly name="product" value={{item.reference}}>
              </div>
              <div class="col-8">
                <span>Product name</span>
                <input type="text" class="form-control" readonly value={{item.name}}>
              </div>
            </div>
            <div class="form-row" style="padding-bottom:10px">
              <div class="col-4">
                <span>LOT</span>
                <input type="text" class="form-control" name="lot" value={{item.lot}} readonly>
              </div>
              <div class="col-8">
                <span>Date due</span>
                <input type="text" class="form-control" name="dateDue" readonly value={{dateDue}}>
              </div>
            </div>
            <div class="form-row" style="padding-bottom:10px">
              <div class="col">
                <span>Unit</span>
                <input type="text" class="form-control" readonly value={{item.unit}}>
              </div>
              <div class="col" *ngIf="action == -1">
                <span>Remain</span>
                <input type="text" class="form-control" readonly value={{item.remaining}}>
              </div>
              <div class="col">
                <span>QTY</span>
                <input type="number" class="form-control" name="quantity" [(ngModel)]="item.quantity">
              </div>
            </div>
            <p style="color: red;font-size: 13px" *ngIf="item.quantity > item.remaining && action == -1"><i>*: The QTY
                must be
                lesser than the Remaining QTY</i></p>
            <p style="color: red;font-size: 13px" *ngIf="item.quantity == 0"><i>*: The QTY must be
                more than <b>0</b></i></p>
            <div class="form-row">
              <div class="col" style="padding-top:10px">
                <input type="button" *ngIf="item.quantity <= item.remaining && item.quantity > 0 && action == -1" class="form-control btn btn-outline-primary"
                  data-dismiss="modal" (click)="addItem()" value="Add item">
                <input type="button" *ngIf="action == 1" class="form-control btn btn-outline-primary" data-dismiss="modal"
                  (click)="addItem()" value="Add item">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
