<div class="priceQuote">
  <div class="priceQuoteHeader">
    <p>PHIẾU YÊU CẦU BÁO CÁO</p>
    <div class="row">
      <div class="col-6">
        <div class="d-inline-flex p-3">
          <div class="p-3">
            <label for="department">Bộ phận:</label>
            <input type="text" class="custom-input" id="department" />
          </div>
          <div class="p-3">
            <label for="grant">Ngày ban hành:</label>
            <input type="date" class="custom-input" id="grant" />
          </div>
          <div class="p-3">
            <label for="userCreated">Người ban hành:</label>
            <input type="text" class="custom-input" id="userCreated" />
          </div>
        </div>
        <div class="d-inline-flex p-3">
          <div class="p-3">
            <label for="department">Bộ phận:</label>
            <input type="text" class="custom-input" id="department" />
          </div>
          <div class="p-3">
            <label for="grant">Ngày ban hành:</label>
            <input type="date" class="custom-input" id="grant" />
          </div>
          <div class="p-3">
            <label for="userCreated">Người ban hành:</label>
            <input type="text" class="custom-input" id="userCreated" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <!-- Show barcode -->
      </div>
      <div class="col-2 control">
        <!-- <p>Control</p>
          <button type="button" class="btn btn-primary">Reload</button>
          <button type="button" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-info">Update</button>
          <button type="button" class="btn btn-secondary">Review</button> -->
      </div>
    </div>
  </div>
  <div class="priceQuoteControl">
  </div>
  <div class="priceQuoteGrid">
    <div class="table-users">
      <div class="header">Danh sách bản vẽ</div>
      <table cellspacing="0">
        <tr>
          <th>Mã bản vẽ</th>
          <th>Mã quản lý</th>
          <th>Số lượng</th>
          <th>Đơn giá ĐK</th>
          <th>Nguyên liệu</th>
          <th>Ngày giao hàng</th>
          <th style="width: 200px">Ghi chú</th>
          <th>ĐV cung cấp</th>
          <th>Đơn giá</th>
        </tr>
        <tr *ngFor="let item of items" (click) = "selectedItem(item)">
          <td>{{item.code}}</td>
          <td>{{item.codeManager}}</td>
          <td>{{item.quatity}}</td>
          <td>{{item.price}}</td>
          <td>{{item.material}}</td>
          <td>{{item.deliveryDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.note}}</td>
          <td>{{item.supplierName}}</td>
          <td>{{item.cost}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<app-grid-item [item]=""></app-grid-item>