<div class="priceQuote">
  <div class="priceQuoteHeader">
    <p>PHIẾU YÊU CẦU BÁO CÁO</p>
    <div class="row">
      <div class="col-6">
        <div class="d-inline-flex p-3">
          <div class="p-3">
            <label for="department">Bộ phận:</label>
            <input type="text" class="custom-input" id="department" />
          </div>
          <div class="p-3">
            <label for="grant">Ngày ban hành:</label>
            <input type="date" class="custom-input" id="grant" />
          </div>
          <div class="p-3">
            <label for="userCreated">Người ban hành:</label>
            <input type="text" class="custom-input" id="userCreated" />
          </div>
        </div>
        <div class="d-inline-flex p-3">
          <div class="p-3">
            <label for="department">Bộ phận:</label>
            <input type="text" class="custom-input" id="department" />
          </div>
          <div class="p-3">
            <label for="grant">Ngày ban hành:</label>
            <input type="date" class="custom-input" id="grant" />
          </div>
          <div class="p-3">
            <label for="userCreated">Người ban hành:</label>
            <input type="text" class="custom-input" id="userCreated" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <!-- Show barcode -->
      </div>
      <div class="col-2 control">
        <!-- <p>Control</p>
          <button type="button" class="btn btn-primary">Reload</button>
          <button type="button" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-info">Update</button>
          <button type="button" class="btn btn-secondary">Review</button> -->
      </div>
    </div>
  </div>
  <div class="priceQuoteControl">
  </div>
  <div class="priceQuoteGrid">
    <table>

    </table>
  </div>
</div>