.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  //   background: linear-gradient(to bottom right, #000066 0%, #cc0066 100%);
  background: linear-gradient(to bottom right, #000066 0%, #cc0066 100%);

}

.centered-form__form {
  //   background: #000033;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 20px;
  height: 600px;
  width: 1200px;
}

h3 {
  color: #ffffff;
  text-align: center
}

.custom-form {

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 360px;
  margin: 80px auto 40px;
  background: #000033;
  padding: 40px;
  border-radius: 4px;

  img {
    width: 128px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
  }

  .btn-basic {
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    width: 50%;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    border: 0px;
    font-size: 14px;
  }

  .form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;

    .animated-label {
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      font-weight: 300;
      opacity: 0.5;
      cursor: text;
      transition: 0.2s ease all;
      margin: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      color: #ffffff;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 2px;
        width: 10px;
        visibility: hidden;
        background-color: #ffffff;
        transition: 0.2s ease all;
      }
    }

    &.not-empty {
      .animated-label {
        top: 0;
        font-size: 13px;
      }
    }

    .form-control {
      position: relative;
      z-index: 1;
      border-radius: 0;
      border-width: 0 0 1.5px;
      border-bottom-color: #ffffff;
      height: auto;
      padding: 3px 0 5px;
      background-color: #000033;
      color: #ffffff;

      &:focus {
        box-shadow: none;
        border-bottom-color: #ffffff;

        ~.animated-label {
          top: 0;
          opacity: 1;
          color: #ffffff;
          font-size: 13px;

          &:after {
            visibility: visible;
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }

  p {
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 30px;
    font-size: 13px;
    color: #999999;
  }
}
