<div class="d-none d-md-block">
    <div class="sidebar">
        <div class="sidebar-list">
            <div class="sidebar-item" routerLink="/dashboard" routerLinkActive="hold">
                <div class="sidebar-item-content">
                    <img src="../../../assets/house.svg" class="sidebar-icon" />
                    <a>Dashboard</a>
                </div>
            </div>
            <div class="sidebar-item" routerLink="/supplier" routerLinkActive="hold">
                <div class="sidebar-item-content">
                    <img src="../../../assets/house.svg" class="sidebar-icon" />
                    <a>Supplier</a>
                </div>
            </div>
            <div class="sidebar-item" routerLink="/product" routerLinkActive="hold">
                <div class="sidebar-item-content">
                    <img src="../../../assets/house.svg" class="sidebar-icon" />
                    <a>Product</a>
                </div>
            </div>
            <div class="sidebar-item" routerLink="/order" routerLinkActive="hold">
                <div class="sidebar-item-content">
                    <img src="../../../assets/house.svg" class="sidebar-icon" />
                    <a>Order</a>
                </div>
            </div>
        </div>
    </div>
</div>