$sidebarBackgroundColor: #ffffff;
$sidebarColor: #8f8c8a;
$sidebarBackgroundColorHoverOrHold: #e6e6e5;
$sidebarColorHoverOrHold: #000000;

.wrapper {
  // display: flex;
  position: relative;
  width: 100%;
  position: relative;
}

.sidebar {
  width: 225px;
  position: fixed;
  left: 0;
  min-height: 100vh;
  background: $sidebarBackgroundColor;
  color: $sidebarColor;
  transition: all 0.3s;
  border-right: 0.5px solid #e6e6e6;
  padding: 4px 0px 0px 0px;
}

.sidebar-icon {
  width: 18px;
  height: 18px;
}

.sidebar-item {
  margin: 0px 1px 0px 0px;
}

.sidebar-item a {
  padding-left: 16px;
  font-size: 15px;
  font-weight: 500;
}

.sidebar-item:hover {
  background-color: $sidebarBackgroundColorHoverOrHold;
  color: $sidebarColorHoverOrHold;
}

.sidebar-item-content {
  padding: 8px;
}

.sidebar-item.hold {
  background-color: $sidebarBackgroundColorHoverOrHold;
  color: $sidebarColorHoverOrHold;
}
