<div class="row">
  <div class="col-md-6" style="background-color: red">
    <div class="select-box">
      <div class="select-box__current" tabindex="1">
        <div class="select-box__value" *ngFor="let item of data">
          <input class="select-box__input" type="radio" id={{item.value}} value={{item.value}} name="Ben"
            checked="checked" />
          <p class="select-box__input-text">{{item.textDisplay}}</p>
        </div>
        <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon"
          aria-hidden="true" />
      </div>
      <ul class="select-box__list">
        <li *ngFor="let item of data">
          <label class="select-box__option" for={{item.value}} aria-hidden="aria-hidden" (click)="choosed(item.value)">{{item.textDisplay}}</label>
        </li>
      </ul>
    </div>
  </div>
</div>
